<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/styles.css">
        <link href="https://fonts.googleapis.com/css2?family=Fenix&family=Fredoka:wght@300;400;500;600&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <a href="/views/index.html"><img src="images/logo.png" alt="drivit-logo" class="drivit-logo"></a>
            <nav class="header-navbar">
                <ul>
                    <li><a href="">Comprar</a></li>
                    <li><a href=""><i class="fas fa-user-circle"></i>Perfil</a></li>
                    <li><a href="">Favoritos</a></li>
                    <li><a href=""><i class="fas fa-shopping-cart"></i></a></li>
                </ul>
            </nav>
        </header>
        <script src="" async defer></script>
    </body>
</html>