<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/styles.css">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="logo">
                <a href="/"><img src="images/logo.png" alt="drivit-logo" class="drivit-logo"></a>
                <p>DRIVIT</p>
            </div>
            <form>
                <input type="search" placeholder="Buscar">
                <button type="submit">Search</button>
              </form>
            <nav class="header-navbar">
                <ul>
                    <li><a href="">Comprar</a></li>
                    <li><a href=""><i class="fas fa-user-circle"></i>Perfil</a></li>
                    <li><a href="">Favoritos</a></li>
                    <li><a href=""><i class="fas fa-shopping-cart"></i></a></li>
                </ul>
            </nav>
        </header>
        <main class="product-detail">
            <div class="product-overview">
                <img src="images/ford-fiesta.jpeg" alt="ford-fiesta">
                <div>
                    <h3>Ford Fiesta</h3>
                    <h4>2012 - 120.000km - Bs. As.</h4>
                    <h4>$4.000.000</h4>
                    <form action="" method="POST">
                        <input type="submit" name="add-to-cart" value="Agregar al carrito">
                    </form> 
                </div>        
            </div>
            <div class="product-features">
                <h2>Características</h2>
                <h3>General</h3>
                <div class="same-type-features">
                    <div class="product-feature">
                        <strong>Tipo de Combustible</strong>
                        <span>Nafta</span>
                    </div>
                    <div class="product-feature">
                        <strong>Transmisión</strong>
                        <span>Manual</span>
                    </div>
                    <div class="product-feature">
                        <strong>Cantidad de dueños</strong>
                        <span>2</span>
                    </div>
                </div>
                <h3>Mecánica</h3>
                <div class="same-type-features">
                    <div class="product-feature">
                        <strong>Fecha de último service</strong>
                        <span>Marzo 2022</span>
                    </div>
                    <div class="product-feature">
                        <strong>Antiguedad correa distribución</strong>
                        <span>15.000km</span>
                    </div>
                    <div class="product-feature">
                        <strong>Alineación y balanceo</strong>
                        <span>Mayo 2022</span>
                    </div>
                    <div class="product-feature">
                        <strong>Embriague</strong>
                        <span>De fábrica</span>
                    </div>
                </div>
                <h3>Exterior</h3>
                <div class="same-type-features">
                    <div class="product-feature">
                        <strong>Número de puertas</strong>
                        <span>5</span>
                    </div>
                </div>
                <h3>Seguridad</h3>
                <div class="same-type-features">
                    <div class="product-feature">
                        <strong>ABS</strong>
                        <span>Sí</span>
                    </div>
                    <div class="product-feature">
                        <strong>Airbags</strong>
                        <span>Precisa revisión</span>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <div class="footer-flex">
                <div class="logo">
                    <a href="/"><img src="images/logo.png" alt="drivit-logo" class="drivit-logo"></a>
                    <p>DRIVIT</p>
                </div>
                <div class="footer-info">
                    <div id="contact">
                        <h4>Contacto <i class="fas fa-address-book"></i></h4>
                        <p>contacto@drivit.com</p>
                        <p>Calle Falsa 123, Buenos Aires, Argentina</p>
                        <p>Whatsapp +54 9 11 4196 2275</p>
                    </div>
                    <div id="info">
                        <h4>Información <i class="fas fa-info"></i></h4>
                        <p>Cotizá tu auto</p>
                        <p>Preguntas frecuentes</p>
                        <p>Testimonios</p>
                    </div>
                </div>
            </div>
            <div id="social-media" >
                <a href=""><i class="fab fa-facebook-f"></i></a><a href=""><i class="fab fa-twitter"></i></a><a href=""><i class="fab fa-instagram"></i></a>
            </div>
        </footer>
        <script src="" async defer></script>
    </body>
</html>