main {
    max-width: 1300px;
    margin: auto;
}

main.login {
    text-align: center;
    margin: auto;
}

main.login .form {
    border: 0.5px solid rgba(187, 178, 178, 0.705);
    font-size: 10px;
    margin: 0 25%;
    border-radius: 20px;
    max-width: 450px;
}

main.login .indicacion {
   font-size: 10px;
   color: #707079;
   margin-bottom: 20px;
}

main.login .campo {
    width: 150px;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: 1px solid currentColor;
        
}

main.login #definicion1 {
    position: relative;
    top:5px;
    right: 55px;
}

main.login #definicion2 {
    position: relative;
    top:5px;
    right: 40px;
}

main.login .recuerdame {
    position: relative;
    right: 35px;
    margin-bottom: 20px;

}

main.login .registrate {
    display: flex;
    justify-content: center;
    margin-top: 5px; 
    margin-bottom: 30px;
    font-size: 10px;
    
}

@media (min-width: 769px) {
    main.login .form {
        font-size: 13px;
        margin: auto;
    }
    
    main.login .indicacion {
       font-size: 13px;
       color: #707079;
       margin-bottom: 20px;
    }
    
    main.login .campo {
    width: 300px;
    }

    main.login #definicion1 {
    top:5px;
    right: 130px;
    }

    main.login #definicion2 {
    top:5px;
    right: 115px;
    }

    main.login .recuerdame {
    position: relative;
    right: 110px;
    margin-bottom: 20px;
    }
}