/* START PRODUCT LIST CSS SECTION */

.barra-vertical{
    display: flex;
    width: 30%;
}
.filtros li{
    list-style: none;
    border: 1px solid;
    padding: 10px;
    justify-content: space-between;
}
li.li-filtros{
    display: flex;
}
button{
    border: none;
    background-color: #ffffff;
}
ul.filtros{
    padding: 0;
    margin: 10px;
}

div a article img{
    width: 300px;
}
.contenedor{
    display: flex;
}

.productos{
display: flex;
flex-wrap: wrap;
justify-content: center;
}


div.productos a{
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    padding: auto 15px;
    border: solid 1px #caedf6;
    width: 305px;
    display: block;
    text-decoration: none;
    color:#11111f;
    box-shadow: 0px 0px 10px #b8b8bc;
}
div.productos a article img{
    width: 300px;
    height: 200px;
}
div.productos a article h3{
    margin: 0px;
    text-align: left;
    border-top: solid 1px #caedf6;
}
div.productos a article h4{
    margin: 0px;
    text-align: left;
}


/* END PRODUCT LIST CSS SECTION */