/* START PRODUCT CART CSS SECTION */
main {
    max-width: 1300px;
    margin: auto;
}
h2.titulo-cart{
    color: #11111f;
}
div.productos-cart{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

div.productos-cart a.a-cart{
    margin: auto;
    margin-bottom: 20px;
    padding: 10px;
    border: solid 1px #caedf6;
    width: 60%;
    text-decoration: none;
    color: #11111f;
    box-shadow: 0px 0px 10px #b8b8bc;
}
a.a-cart img{
    width: 100%;
}
a.a-cart h4{
    margin: 0;
}
div.contenedor-article.boton{
    display: flex;
    justify-content: center;
    text-align: center;
}

button.eliminar-desktop{
    border: none;
    background-color: #ffffff;
    font-size: 1rem;
    margin: 3px auto auto 3px;
}

/* button i{
    font-size: 25px;
} */

/* END PRODUCT CART CSS SECTION */

@media (min-width: 769px) {
    /*START PRODUCT CART SECTION*/

    .contenedor-article{
        width: 50%;
        margin: 3px;
    }
    .contenedor-article.boton {
        width: 20%;
    }
    button.reserva {
        width: 100%;
    }

    a.a-cart article{
        display: flex;
        align-items: center;
    }
    div.productos-cart a.a-cart{
        margin: auto;
        margin-bottom: 20px;
        padding: 10px;
        border: solid 1px #caedf6;
        width: 80%;
        text-decoration: none;
        color: #11111f;
        box-shadow: 0px 0px 10px #b8b8bc;
    }

    /*END PRODUCT CART SECTION*/
}