* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

/*START HEADER CSS SECTION*/
header {
    display: flex;
    justify-content: space-between;
    background-color: #edf9fc;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header .logo {
    display: flex;
}

header .logo p {
    font-weight: 500;
    color: #4ec3e0;
}

header .drivit-logo {
    width: 50px;
}

header form {
    color: #caedf6;
    display: none;
    padding: 2px;
    border: 1px solid currentColor;
    border-radius: 5px;
    width: 30%
}

input[type="search"] {
    border: none;
    background: transparent;
    margin: 0;
    padding: 3px 4px;
    font-size: 14px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
    width: 90%;
  }
  
header form input[type="search"]::placeholder {
    color: #b8b8bc;
  }
  
header form button[type="submit"] {
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    cursor: pointer;
    opacity: 0.7;
}
  
button[type="submit"]:hover {
    opacity: 1;
}

button[type="submit"]:focus,
input[type="search"]:focus {
  box-shadow: 0 0 3px 0 #95dbec;
  border-color: #95dbec;
  outline: none;
  color: #707079;
}

.header-navbar ul {
    list-style: none;
    display: flex;
}

.header-navbar li {
    margin: 0 5px;
}

.header-navbar a {
    text-decoration: none;
    color: #11111f;
}

.header-navbar i {
    padding: 0 5px;
}
/*END HEADER CSS SECTION*/

/*START MAIN CSS SECTION*/
main .banner {
    background-image: url('../images/home-banner.jpeg');
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 65%;
}

main .banner p {
    font-size: 2rem;
    color: #ffff;
    margin: auto;
    padding: 10px 50px 10px 20px;
}

h2 {
    text-align: center;
    color: #4ec3e0;
}

main .featured-cars {
    margin: auto;
}

main .featured-cars a {
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    padding: auto 15px;
    border: solid 1px #caedf6;
    width: 305px;
    display: block;
    text-decoration: none;
    color:#11111f;
    box-shadow: 0px 0px 10px #b8b8bc;
}

main .featured-cars a article img {
    width: 300px;
    height: 200px;
}

main .featured-cars a article h3 {
    margin: 0px;
    text-align: left;
    border-top: solid 1px #caedf6;
}

main .featured-cars a article h4 {
    margin: 0px;
    text-align: left;
}


main.register .inicia-sesion {
    margin-top: 5px; 
    margin-bottom: 30px;
    font-size: 10px;
    display: flex;
    justify-content: center;    
}

main.login {
    text-align: center;
}


main.login .form {
    border: 1px solid #ebebeb;
    font-size: 10px;
    margin: 0 25%;
    margin-bottom: 0px;
}

main.login .indicacion {
   font-size: 10px;
   color: #707079;
   margin-bottom: 20px;
}


main.login .campo {
    width: 150px;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: 1px solid currentColor;
        
}

main.login #definicion1 {
    position: relative;
    top:5px;
    right: 55px;
}

main.login #definicion2 {
    position: relative;
    top:5px;
    right: 40px;
}

main.login .recuerdame {
    position: relative;
    right: 35px;
    margin-bottom: 20px;

}

main.login .registrate {
    display: flex;
    justify-content: center;
    margin-top: 5px; 
    margin-bottom: 30px;
    font-size: 10px;
    
}


main.product-detail {
    margin-bottom: 15px;
}

main.product-detail .product-overview img {
    width: 100%;
}

main.product-detail h3,
main.product-detail .product-overview h4 {
    margin: 0px 15px;
}

main.product-detail .product-overview form {
    text-align: center;
    padding: 15px 15px 0;
}

input[type="submit"] {
    color: #ffff;
    background-color: #4ec3e0;
    border: none 1px #4ec3e0;
    border-radius: 0.5rem;
    padding: 5px;
}

input[type="submit"]:hover {
    color: #4ec3e0;
    background-color: #ffff;
    border: solid 1px #707079;
}

main.product-detail .product-overview form input {
    width: 100%;
    font-size: 18px;
    font-weight: 500;
}

main.product-detail .product-features h2 {
    color: #11111f;
    text-align: center;
}

main.product-detail .product-features h3 {
    margin-top: 10px;
}

main.product-detail .product-features .product-feature {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #b8b8bc;
    font-size: 12px;
    margin: 0px 15px;
    padding: 10px 0px;
}

main.register h4 {
    text-align: center;
    font-size: 25px;
}

 main.register .form1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.5px solid rgba(187, 178, 178, 0.705);
    margin: 5% 5% 0% 5%;
}

main.register .form1 input[type="text"],[type="tel"],[type="email"],[type="Password"] {
    width: 80%;
    margin-top: 5px;
    border: solid 1px rgba(0, 0, 0, 0.377)
}

main.register .form1 label {
    margin-top: 30px;

}

main.register #terminos-condiciones {
    margin: 20px 0px;
    font-size: 10px;
    width: 80%;
}

main.register #terminos-condiciones label {
    position: relative;
    bottom: 2px;
}



main.register #boton-registro {
    margin-bottom: 10px;
}

main.register .form2 {
    display: none;
}

/*END MAIN CSS SECTION*/

/* START PRODUCT LIST CSS SECTION */

.barra-vertical{
    display: flex;
    width: 30%;
}
.filtros li{
    list-style: none;
    border: 1px solid;
    padding: 10px;
    justify-content: space-between;
}
li.li-filtros{
    display: flex;
}
button{
    border: none;
    background-color: #ffffff;
}
ul.filtros{
    padding: 0;
    margin: 10px;
}

div a article img{
    width: 300px;
}
.contenedor{
    display: flex;
}

.productos{
display: flex;
flex-wrap: wrap;
justify-content: center;
}


div.productos a{
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    padding: auto 15px;
    border: solid 1px #caedf6;
    width: 305px;
    display: block;
    text-decoration: none;
    color:#11111f;
    box-shadow: 0px 0px 10px #b8b8bc;
}
div.productos a article img{
    width: 300px;
    height: 200px;
}
div.productos a article h3{
    margin: 0px;
    text-align: left;
    border-top: solid 1px #caedf6;
}
div.productos a article h4{
    margin: 0px;
    text-align: left;
}


/* END PRODUCT LIST CSS SECTION */

/* START PRODUCT CART CSS SECTION */

h2.titulo-cart{
    color: #11111f;
}
div.productos-cart{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

div.productos-cart a.a-cart{
    margin: auto;
    margin-bottom: 20px;
    padding: 10px;
    border: solid 1px #caedf6;
    width: 60%;
    text-decoration: none;
    color: #11111f;
    box-shadow: 0px 0px 10px #b8b8bc;
}
a.a-cart img{
    width: 100%;
}
a.a-cart h4{
    margin: 0;
}
div.contenedor-article.boton{
    text-align: center;
}
button.eliminar{
    border: solid 1px #b8b8bc;
    background-color: #11111f;
    color: #ffffff;
    width: 60%;
    border-radius: 5px;
}
button.eliminar-desktop{
    display: none;
}

button i{
    font-size: 25px;
}

/* END PRODUCT CART CSS SECTION */

/* START CREATE FORM CSS SECTION*/
.create-product-form {
    padding: 20px 5px;
    background-color: #edf9fc;
    opacity: 70%;
    margin: 10px 10px;
}

.create-product-form h3 {
    margin-top: 0;
}

.create-product-form div {
    margin-bottom: 30px;
}

.create-product-form div label {
    display: block;
    margin-top: -15px;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 500;
}

.create-product-form input {
    width: 100%;
    margin: auto;
    padding: 7px 5px;
    border: solid 0px;
    border-radius: 4px;
}

.create-product-form input::placeholder {
    font-size: 11px;
    color:#666;
    opacity: 80%;
}
/* END CREATE FORM CSS SECTION */


/*START FOOTER CSS SECTION*/
footer {
    background-color: #caedf6;
    text-align: center;
    box-sizing: normal;
}

footer .logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .logo p {
    font-weight: 500;
    color: #4ec3e0;
}

footer .drivit-logo {
    width: 60px;
}


footer .footer-info h4 {
    margin-bottom: 5px;
}

footer p {
    margin: 0;
}

footer #social-media {
    margin-top: 20px;
}

footer #social-media a {
    margin: 30px;
    text-decoration: none;
    color: #11111f;
}

footer #social-media a i {
    font-size: 20px;
    padding-bottom: 20px;
}
/*END FOOTER CSS SECTION*/

@media (min-width: 480px) {

    main.register .form1 input[type="text"],[type="tel"],[type="email"],[type="Password"] {
        width: 60%;
    }
    
    main.register #terminos-condiciones {
        width: 60%;
    }

}

@media (min-width: 769px) {
    /*START HEADER CSS SECTION*/
    header .logo {
        width: 30%;
    }
    
    header form {
        display: flex;
        justify-content: space-between;
    }
    /*END HEADER CSS SECTION*/

    /*START MAIN CSS SECTION*/
    main .banner p {
        font-size: 3rem;
        padding: 20px 100px 20px 40px;
    }

    main .featured-cars {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    main.product-detail .product-overview {
        display: flex;
        padding: 50px;
        margin: 25px;
        font-size: 1.3rem;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    main.product-detail .product-overview h4 {
        margin-top: 5px;
    }

    main.product-detail .product-overview img {
        width: 60%;
    }

    main.product-detail .product-features {
        margin: 25px;
    }

    main.product-detail .product-features .same-type-features{
        display: flex;  
        flex-wrap: wrap;
        margin-left: 10px;
    }

    main.product-detail .product-features .product-feature {
        width: 29%;
        font-size: 13px;
    }
    
    main.login .form {
        border: 1px solid #ebebebf5;
        font-size: 13px;
        margin: 0 25%;
        margin-bottom: 0px;
    }
    
    main.login .indicacion {
       font-size: 13px;
       color: #707079;
       margin-bottom: 20px;
    }
    
    main.login .campo {
    width: 300px;
    }

    main.login #definicion1 {
    top:5px;
    right: 130px;
    }

    main.login #definicion2 {
    top:5px;
    right: 115px;
    }

    main.login .recuerdame {
    position: relative;
    right: 110px;
    margin-bottom: 20px;
    }

    /*END MAIN CSS SECTION*/

    /* START CREATE FORM CSS SECTION */
    .create-product-form {
        width: 50%;
    }
    /* END CREATE FORM CSS SECTION */

    /*START FOOTER CSS SECTION*/
    footer .footer-flex {
        display: flex;
        justify-content: space-between;
    }

    footer .footer-flex .footer-info {
        flex-grow: 0.7;
        display: flex;
        text-align: left;
        justify-content: space-around;
    }

    footer .footer-flex .footer-info p {
        margin: 10px 0;
    }
    /*END FOOTER CSS SECTION*/
    /*START PRODUCT CART SECTION*/

    .contenedor-article{
        width: 50%;
        margin: 3px;
    }
    .contenedor-article.boton {
        width: 20%;
    }
    button.reserva {
        width: 100%;
    }
    button.eliminar{
        /* width: 100%; */
        display: none;
    }
    button.eliminar-desktop{
        display: block;
        font-size: 15px;
        color: #11111f;
        margin: auto;
    }
    a.a-cart article{
        display: flex;
        align-items: center;
    }
    div.productos-cart a.a-cart{
        margin: auto;
        margin-bottom: 20px;
        padding: 10px;
        border: solid 1px #caedf6;
        width: 80%;
        text-decoration: none;
        color: #11111f;
        box-shadow: 0px 0px 10px #b8b8bc;
    }

    /*END PRODUCT CART SECTION*/

        
    main.register .form1 { 
        display: none;
    }
    main.register {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    main.register .form2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 0.5px solid rgba(187, 178, 178, 0.705);
        margin: 3% 10% 0% 10%;
        justify-content: center;
        width: 80%;
        max-width: 800px;
    }
    
    main.register .form2 input[type="text"],[type="tel"],[type="email"],[type="Password"] {
        border: solid 1px rgba(0, 0, 0, 0.377);
        width: 100%;
    }
    
    main.register #nombre-completo {
    width: 90%;
    margin-top: 10px;
    }

    main.register #nombre-completo input{
    width: 100%;
    }
    
    main.register .en-serie {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 90%;
        margin-top: 30px;
    }

    main.register .en-serie p{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    
    main.register #terminos-condiciones {
        margin: 10px 0px;
        width: 90%;
        margin-bottom: 20px;
    }
    
    
    main.register #boton-registro {
        margin-bottom: 30px;
    }

    main.register .caja-1 {
    flex-grow: 0.45;

    align-self: flex-end;
    }

    main.register .caja-2 {
    flex-grow: 0.5;
    align-self: flex-end;
    }

}



@media (min-width: 1280px) {
    body {
        max-width: 1200px;
        margin: auto;
    }

    /*START MAIN CSS SECTION*/
    main .featured-cars a article img {
        width: 90%;
        height: 140px;
    }
    /*END MAIN CSS SE*/
}