* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

/*START HEADER CSS SECTION*/
header {
    display: flex;
    justify-content: space-between;
    background-color: #edf9fc;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header .logo {
    display: flex;
}

header .logo p {
    font-weight: 500;
    color: #4ec3e0;
}

header .drivit-logo {
    width: 50px;
}

header form {
    color: #caedf6;
    display: none;
    padding: 2px;
    border: 1px solid currentColor;
    border-radius: 5px;
    width: 30%
}

input[type="search"] {
    border: none;
    background: transparent;
    margin: 0;
    padding: 3px 4px;
    font-size: 14px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
    width: 90%;
  }
  
header form input[type="search"]::placeholder {
    color: #b8b8bc;
  }
  
header form button[type="submit"] {
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    cursor: pointer;
    opacity: 0.7;
}
  
button[type="submit"]:hover {
    opacity: 1;
}

button[type="submit"]:focus,
input[type="search"]:focus {
  box-shadow: 0 0 3px 0 #95dbec;
  border-color: #95dbec;
  outline: none;
  color: #707079;
}

.header-navbar ul {
    list-style: none;
    display: flex;
}

.header-navbar li {
    margin: 0 5px;
}

.header-navbar a {
    text-decoration: none;
    color: #11111f;
}

.header-navbar i {
    padding: 0 5px;
}
/*END HEADER CSS SECTION*/

/*START MAIN CSS SECTION*/
main .banner {
    background-image: url('../images/home-banner.jpeg');
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 65%;
}

main .banner p {
    font-size: 2rem;
    color: #ffff;
    margin: auto;
    padding: 10px 50px 10px 20px;
}

h2 {
    text-align: center;
    color: #4ec3e0;
}

main .featured-cars {
    margin: auto;
}

main .featured-cars a {
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    padding: auto 15px;
    border: solid 1px #caedf6;
    width: 305px;
    display: block;
    text-decoration: none;
    color:#11111f;
    box-shadow: 0px 0px 10px #b8b8bc;
}

main .featured-cars a article img {
    width: 300px;
    height: 200px;
}

main .featured-cars a article h3 {
    margin: 0px;
    text-align: left;
    border-top: solid 1px #caedf6;
}

main .featured-cars a article h4 {
    margin: 0px;
    text-align: left;
}

input[type="submit"] {
    color: #ffff;
    background-color: #4ec3e0;
    border: none 1px #4ec3e0;
    border-radius: 0.5rem;
    padding: 5px;
}

input[type="submit"]:hover {
    color: #4ec3e0;
    background-color: #ffff;
    border: solid 1px #707079;
}
/*END MAIN CSS SECTION*/

/*START FOOTER CSS SECTION*/
footer {
    background-color: #caedf6;
    text-align: center;
    box-sizing: normal;
}

footer .logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .logo p {
    font-weight: 500;
    color: #4ec3e0;
}

footer .drivit-logo {
    width: 60px;
}


footer .footer-info h4 {
    margin-bottom: 5px;
}

footer p {
    margin: 0;
}

footer #social-media {
    margin-top: 20px;
}

footer #social-media a {
    margin: 30px;
    text-decoration: none;
    color: #11111f;
}

footer #social-media a i {
    font-size: 20px;
    padding-bottom: 20px;
}
/*END FOOTER CSS SECTION*/

@media (min-width: 769px) {
    /*START HEADER CSS SECTION*/
    header .logo {
        width: 30%;
    }
    
    header form {
        display: flex;
        justify-content: space-between;
    }
    /*END HEADER CSS SECTION*/

    /*START MAIN CSS SECTION*/
    main .banner p {
        font-size: 3rem;
        padding: 20px 100px 20px 40px;
    }

    main .featured-cars {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    /*END MAIN CSS SECTION*/

    /*START FOOTER CSS SECTION*/
    footer .footer-flex {
        display: flex;
        justify-content: space-between;
    }

    footer .footer-flex .footer-info {
        flex-grow: 0.7;
        display: flex;
        text-align: left;
        justify-content: space-around;
    }

    footer .footer-flex .footer-info p {
        margin: 10px 0;
    }
    /*END FOOTER CSS SECTION*/

}

@media (min-width: 1280px) {
    body {
        max-width: 1200px;
        margin: auto;
    }

    /*START MAIN CSS SECTION*/
    main .featured-cars a article img {
        width: 90%;
        height: 140px;
    }
    /*END MAIN CSS SE*/
}