<!DOCTYPE html>
<html lang="en">
        <%- include('./partials/head',  {title: "Cart", style: "product_cart"}) %>
        <body>
            <%- include('./partials/header') %>
    <main class="main-cart">
        <h2 class="titulo-cart">Mi carrito (X items)</h2>
            <div class="productos-cart">
                <a class="a-cart" href="">
                    <article>
                        <div class="contenedor-article">
                            <img src="/images/products/ford-fiesta.jpeg" alt="ford-fiesta">
                        </div>
                        <div class="contenedor-article">
                            <h4>Ford Fiesta - 2012 - 120.000km - Bs. As.</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis pariatur officiis a </p>
                        </div>
                        <div class="contenedor-article boton">
                            <input type="submit" class="reserva" name="reserve-car" value="Reservar ahora"> 
                        </div>
                        <div class="contenedor-article boton">
                            <button class="eliminar">Eliminar</button>
                            <button class="eliminar-desktop"><i class="fa-solid fa-trash-can"></i></button>
                        </div>
                    </article>
                </a>
                <a class="a-cart" href="">
                        <article>
                            <div class="contenedor-article">
                                <img src="/images/products/chevrolet-onix.jpeg" alt="chevrolet-onix">
                            </div>
                            <div class="contenedor-article">
                                <h4>Chevrolet Onix - 2014 - 176.000km - Mendoza</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis pariatur officiis a </p>
                            </div>
                            <div class="contenedor-article boton">
                                <input type="submit" class="reserva" name="reserve-car" value="Reservar ahora"> 
                            </div>
                            <div class="contenedor-article boton">
                                <button class="eliminar">Eliminar</button>
                                <button class="eliminar-desktop"><i class="fa-solid fa-trash-can"></i></button>
                            </div>
                    </article>
                </a>
            </div>
    </main>
    <%- include('./partials/footer') %>
    <script src="https://kit.fontawesome.com/bdc71fe14e.js" crossorigin="anonymous"></script>
</body>
</html>