<!DOCTYPE html>
<html lang="en">
        <%- include('./partials/head') %>
        <body>
            <%- include('./partials/header') %>
            <main class="register">
                <form action="/registro" method="POST" class="form2">
                    <h3>Ingresá tus datos</h5>
    
                    <label for="marca">Marca *</label>
                    <input type="text" name="marca" id="marca">

                    <label for="modelo">Modelo *</label>
                    <input type="text" name="modelo" id="modelo">

                    <label for="anio">Año *</label>
                    <input type="text" name="anio" id="anio">

                    <label for="kilometraje">kilometraje *</label>
                    <input type="text" name="kilometraje" id="kilometraje">

                    <label for="ubicacion">Ubicación *</label>
                    <input type="text" name="ubicacion" id="ubicacion">

                    <label for="precio">Precio *</label>
                    <input type="text" name="precio" id="precio">
                    
                    <label for="precio">Precio *</label>
                    <input type="text" name="precio" id="precio">
                    


                    
                    <div id="boton-registro">
                        <input type="submit" class="registro" name="registro" value="Registrate"> 
                    </div>    
                </form>





            </main>
            <%- include('./partials/footer') %>
            <script src="" async defer></script>
        </body>
        </html>





