<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Products</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/bdc71fe14e.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="logo">
            <a href="/"><img src="images/logo.png" alt="drivit-logo" class="drivit-logo"></a>
            <p>DRIVIT</p>
        </div>
        <form>
            <input type="search" placeholder="Buscar">
            <button type="submit">Search</button>
          </form>
        <nav class="header-navbar">
            <ul>
                <li><a href="/products">Comprar</a></li>
                <li><a href="/login"><i class="fas fa-user-circle"></i>Perfil</a></li>
                <li><a href="">Favoritos</a></li>
                <li><a href="/cart"><i class="fas fa-shopping-cart"></i></a></li>
            </ul>
        </nav>
    </header>  
    <main>
        <div class="contenedor">
            <div class="barra-vertical">
                <ul class="filtros">
                    <li class="li-filtros"><button><i class="fa-solid fa-filter"></i>Ocultar filtros</button> <button>Borrar productos</button></li>
                    <li class="li-filtros">Precio <i class="fa-solid fa-angle-down"></i></li>
                    <li class="li-filtros">Año <i class="fa-solid fa-angle-down"></i></li>
                    <li class="li-filtros">Kilometraje <i class="fa-solid fa-angle-down"></i></li>
                    <li class="li-filtros">Marca y Modelo <i class="fa-solid fa-angle-down"></i></li>
                    <li class="li-filtros">Combustible <i class="fa-solid fa-angle-down"></i></li>
                    <li class="li-filtros">Transmision <i class="fa-solid fa-angle-down"></i></li>
                    <li class="li-filtros">Tipo <i class="fa-solid fa-angle-down"></i></li>
                    <li class="li-filtros">Ubicacion <i class="fa-solid fa-angle-down"></i></li>
                    <li class="li-filtros">Cantidad de dueños <i class="fa-solid fa-angle-down"></i></li>
                    <li class="li-filtros">Color <i class="fa-solid fa-angle-down"></i></li>
                </ul>
            </div>
            <div class="productos">
                    <a href="/products/product-detail">
                        <article>
                            <img src="images/ford-fiesta.jpeg" alt="ford-fiesta">
                            <h3>Ford Fiesta</h3>
                            <h4>2012 - 120.000km - Bs. As.</h4>
                            <h4>$4.000.000</h4>
                        </article>
                    </a>
                    <a href="">
                        <article>
                            <img src="images/chevrolet-onix.jpeg" alt="chevrolet-onix">
                            <h3>Chevrolet Onix</h3>
                            <h4>2014 - 176.000km - Mendoza</h4>
                            <h4>$3.500.000</h4>
                        </article>
                    </a>
                    <a href="">
                        <article>
                            <img src="images/renault-sandero.jpeg" alt="renault-sandero">
                            <h3>Renault Sandero</h3>
                            <h4>2016 - 153.000km - Rosario</h4>
                            <h4>$3.750.000</h4>
                        </article>
                    </a>
                    <a href="">
                        <article>
                            <img src="images/ford-focus.jpeg" alt="ford-focus">
                            <h3>Ford Focus</h3>
                            <h4>2013 - 120.000km - Córdoba</h4>
                            <h4>$4.700.000</h4>
                        </article>
                    </a>
                    <a href="">
                        <article>
                            <img src="images/peugeot-208.jpeg" alt="peugeot-208">
                            <h3>Peugeot 208</h3>
                            <h4>2014 - 132.000km - Bs. As.</h4>
                            <h4>$4.200.000</h4>
                        </article>
                    </a>
                    <a href="">
                        <article>
                            <img src="images/toyota-hilux.jpeg" alt="toyota-hilux">
                            <h3>Toyota Hilux</h3>
                            <h4>2015 - 150.000km - Entre Ríos</h4>
                            <h4>$5.200.000</h4>
                        </article>
                    </a>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-flex">
            <div class="logo">
                <a href="/views/index.html"><img src="images/logo.png" alt="drivit-logo" class="drivit-logo"></a>
                <p>DRIVIT</p>
            </div>
            <div class="footer-info">
                <div id="contact">
                    <h4>Contacto <i class="fas fa-address-book"></i></h4>
                    <p>contacto@drivit.com</p>
                    <p>Calle Falsa 123, Buenos Aires, Argentina</p>
                    <p>Whatsapp +54 9 11 4196 2275</p>
                </div>
                <div id="info">
                    <h4>Información <i class="fas fa-info"></i></h4>
                    <p>Cotizá tu auto</p>
                    <p>Preguntas frecuentes</p>
                    <p>Testimonios</p>
                </div>
            </div>
        </div>
        <div id="social-media" >
            <a href=""><i class="fab fa-facebook-f"></i></a><a href=""><i class="fab fa-twitter"></i></a><a href=""><i class="fab fa-instagram"></i></a>
        </div>
    </footer>  
</body>
</html>