<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <%- include('./partials/head', {title: "Register", style: "register_form"}) %>
    <body>
        <%- include('./partials/header') %>
        <main class="register">
            <h2>Registrate</h2>
            
            <div class="general">
                <h3>Ingresá tus datos</h3>
            <form action="/user/register" method="POST" class="form1" enctype="multipart/form-data">
                
                <div class="campos">
                <label for="nombre">Nombre *</label>
                <input type="text" name="nombre" id="nombre" class="hola">
                </div>

                <div class="campos">
                <label for="apellido">Apellido *</label>
                <input type="text" name="apellido" id="apellido">
                </div>

                <div class="campos">
                <label for="cuit">CUIT *</label>
                <input type="text" name="cuit" id="cuit">
                </div>

                <div class="campos">
                <label for="telefono">Telefono *</label>
                <input type="tel" name="telefono" id="telefono">
                </div>

                <div class="campos">
                <label for="email">Email *</label>
                <input type="email" name="email" id="email">
                </div>

                <div class="campos">
                <label for="cp">Código Postal *</label>
                <input type="text" name="cp" id="cp">
                </div>

                <div class="campos">
                <label for="contraseña">Contraseña *</label>
                <input type="password" name="contraseña" id="contraseña">
                </div>

                <div class="campos">
                <label for="chequeocontraseña">Confirmar Contraseña *</label>
                <input type="password" name="chequeocontraseña" id="chequeocontraseña">
                </div>

                <div class="imagenes">
                <label for="imagen">Adjuntar imagenes del vehiculo</label>
                <input type="file" name="imagen" accept=".png, .jpeg">
                </div>
             
            </form>

            <div id="terminos-condiciones">
                <input type="checkbox" name="terminos" id="terminos">
                <label for="terminos">Acepto terminos y condiciones</label>
            </div>
            
            <div id="boton-registro">
                <input type="submit" class="registro" name="registro" value="Registrate"> 
            </div>

            <div class="inicia-sesion">
                <div>¿Ya tenés cuenta? </div>
                <a href="/user/login">Iniciá Sesión</a></li>
            </div>
        </div>
        </main>
        
        <%- include('./partials/footer') %>
        <script src="" async defer></script>
    </body>
</html>