<footer>
    <div class="footer-flex">
        <div class="logo">
            <a href="/"><img src="/images/logo.png" alt="drivit-logo" class="drivit-logo"></a>
            <p>DRIVIT</p>
        </div>
        <div class="footer-info">
            <div id="contact">
                <h4>Contacto <i class="fas fa-address-book"></i></h4>
                <p>contacto@drivit.com</p>
                <p>Calle Falsa 123, Buenos Aires, Argentina</p>
                <p>Whatsapp +54 9 11 4196 2275</p>
            </div>
            <div id="info">
                <h4>Información <i class="fas fa-info"></i></h4>
                <p>Cotizá tu auto</p>
                <p>Preguntas frecuentes</p>
                <p>Testimonios</p>
            </div>
        </div>
    </div>
    <div id="social-media" >
        <a href=""><i class="fab fa-facebook-f"></i></a><a href=""><i class="fab fa-twitter"></i></a><a href=""><i class="fab fa-instagram"></i></a>
    </div>
</footer>