<header>
    <div class="logo">
        <a href="/"><img src="/images/logo.png" alt="drivit-logo" class="drivit-logo"></a>
        <p>DRIVIT</p>
    </div>
    <form>
        <input type="search" placeholder="Buscar">
        <button type="submit">Search</button>
      </form>
    <nav class="header-navbar">
        <ul>
            <li><a href="/products">Comprar</a></li>
            <li><a href="/user/login"><i class="fas fa-user-circle"></i>Perfil</a></li>
            <li><a href="">Favoritos</a></li>
            <li><a href="/products/cart"><i class="fas fa-shopping-cart"></i></a></li>
        </ul>
    </nav>
</header>